.widget {
	width: 600px;

	&__list {
		margin-bottom: 20px;
		height: calc((200px * 3) + (20px * 2));
		
		&--min {
			&-container {
				width: 100%;
				padding: 100px;
			}
		}
	}

	&__item {
		margin-bottom: 20px;
		height: 200px;

		&--min {
			padding: 20px;
			margin-bottom: 20px;
		}
	}

	&__content {
		&-container {
			padding: 10px;
			width: 60%;
			min-height: 100%;
		}
	}

	&__photo {
		width: 50%;
		min-height: 100%;

		&::before {
			padding: 5px 10px;
			font-size: 14px;
		}
	}

	&__title {
		-webkit-line-clamp: 3;
		font-size: 14px;
		line-height: 1.3em;

		&-container {
			padding: 20px 40px;
			max-height: 95px;
		}

		&--min {
			margin-bottom: 20px;
			font-size: 14px;
		}
	}

	&__author {
		font-size: 12px;

		&--min {
			font-size: 12px;
		}
	}

	&__date {
		font-size: 12px;

		&--min {
			font-size: 12px;
		}
	}

	&__footer {
		&-container {
			padding: 0 40px;
		}
	}

	&__link {
		padding: 10px 100px;
		font-size: 14px;

		&--min {
			padding: 10px 50px;
			margin: 0;
		}
	}

	&__btn {
		padding: 10px 0;
		width: 100%;
		min-height: 40px;

		&--add {
			flex: 1;
			margin-right: 30px;
		}

		&--all {
			width: 40px;

			&-news-count {
				width: 20px;
				height: 20px;
				font-size: 12px;
			}

			&::before {
				width: 60%;
				height: 4px;
			}

			&::after {
				width: 60%;
				height: 4px;
			}
		}

		&-close--min {
			top: 50px;
			right: 40px;
			width: 40px;

			&::before {
				width: 60%;
				height: 4px;
			}

			&::after {
				width: 60%;
				height: 4px;
			}
		}
	}
}