:root {
	--yellow: #fecb2e;
	--white: #ffffff;
	--light-blue: #5fc9f8;
	--blue: #147efb;
	--shadow: rgba(0, 0, 0, 0.3);
	--black: #212529;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	color: #212529;
	color: var(--black);
}

.body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 200px;
}

a {
	text-decoration: none;
}

.body li {
	list-style-type: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
  