.widget {
	&__list {
		background-color: #ffffff; //IE support
		background-color: var(--white);
		border-radius: 16px;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); //IE support
		box-shadow: 0 4px 12px var(--shadow);
		overflow: hidden;

		&--scroll {
			overflow-y: scroll;
		}
	
		&--min {
			border-radius: 16px;

			&-container {
				display: none;
				position: absolute;
				top: 0;
				right: 0;
				background-color: #ffffff; //IE support
				background-color: var(--white);
				z-index: 999;

				&--show {
					display: block;
				}
			}
		}
	}

	&__item {
		display: none;
		justify-content: flex-end;
		position: relative;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); //IE support
		box-shadow: 0 4px 12px var(--shadow);
		border-radius: 16px;
		overflow: hidden;

		&:last-child {
			margin-bottom: 0;
		}

		&--min {
			box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); //IE support
			box-shadow: 0 4px 12px var(--shadow);
			border-radius: 16px;
		}
	}

	&__content {
		&-container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			position: relative;
			right: 0;
			background-color: #ffffff; //IE support
			background-color: var(--white);
			border-radius: 16px;
			overflow: hidden;
		}

		&--min {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__photo {
		background-size: cover;
		background-repeat: no-repeat;
		background-position-x: center;
		border-radius: 16px;

		&::before {
			content: '';
			background-color: #fecb2e; //IE support
			background-color: var(--yellow);
			border-radius: 0 0 16px 0;
		}

		&--not-read {
			&::before {
				content: 'Не прочитано';
			}
		}

		&--read {
			&::before {
				content: 'Прочитано';
			}
		}
	}

	&__title {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		color: #ffffff; //IE support
		color: var(--white);
		overflow: hidden;

		&-container {
			background-color: #5fc9f8; //IE support
			background-color: var(--light-blue);
			border-radius: 16px;
			overflow: hidden;
		}

		&--min {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	&__date {
		display: flex;
		justify-content: flex-end;
	}

	&__footer {
		&-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__link {
		align-self: center;
		border-radius: 16px;
		color: #147efb; //IE support
		color: var(--blue);
		font-weight: bold;
		transition: .3s;

		&:hover {
			color: #ffffff; //IE support
			color: var(--white);
			background-color: #147efb; //IE support
			background-color: var(--blue);
			outline: none;
		}

		&:focus-within {
			color: #ffffff; //IE support
			color: var(--white);
			background-color: #147efb; //IE support
			background-color: var(--blue);
			outline: none;
		}

		&:active {
			opacity: .6;
		}
	}

	&__btn {
		background-color: #ffffff; //IE support
		background-color: var(--white);
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); //IE support
		box-shadow: 0 4px 12px var(--shadow);
		border: none;
		border-radius: 16px;
		font-weight: bold;
		cursor: pointer;
		outline: none;
		transition: background .3s;

		&:hover {
			background-color: #fecb2e; //IE support
			background-color: var(--yellow);
		}

		&:focus-within {
			background-color: #fecb2e; //IE support
			background-color: var(--yellow);
		}

		&:active {
			opacity: .6;
		}

		&-container {
			display: flex;
			align-items: center;
		}

		&--all {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;

			&-container {
				position: relative;
			}

			&-news-count {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				top: -10px;
				right: -10px;
				color: #ffffff; //IE support
				color: var(--white);
				background-color: #fc3d39; //IE support
				background-color: var(--red);
				border-radius: 50%;
				font-weight: bold;
			}

			&::before {
				content: '';
				display: block;
				background-color:#212529; //IE support
				background-color: var(--black);
				border-radius: 50px;
			}

			&::after {
				content: '';
				display: block;
				background-color:#212529; //IE support
				background-color: var(--black);
				border-radius: 50px;
			}
		}

		&-close--min {
			position: fixed;

			&::before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				background-color:#212529; //IE support
				background-color: var(--black);
				border-radius: 50px;
				transform: translate(-50%,-50%) rotate(45deg);
			}

			&::after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				background-color:#212529; //IE support
				background-color: var(--black);
				border-radius: 50px;
				transform: translate(-50%,-50%) rotate(-45deg);
			}
		}
	}
}